.HomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PageLayout {
  display: flex;
  justify-content: space-between;
}

.PageLayout-Left {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 10px;
}

.PageLayout-Right {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 10px;
}